<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="main (icon, message)">
    <li class="how-it-works-item">
        <a class="how-it-works-info" href="/ask">
            <span th:class="|${icon} how-it-works-icon icon-3x|"></span></a>
        <div class="how-it-works-subtitle-container">
            <a class="how-it-works-info how-it-works-subtitle"
               href="/ask" th:utext="${message}">how-it-works</a>
        </div>
    </li>
</div>

</body>

</html>